.input{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: red;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: red;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: red;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: red;
}
.fade-enter, .fade-appear{
    opacity:0;
}
.fade-enter-active, .fade-appear-active{
    opacity:1;
    transition: opacity 1s ease-in;
}
.fade-enter-done{
    opacity: 1;
}
.fade-exit{
    opacity: 1;
}
.fade-exit-active{
    opacity:0;
    transition: opacity 1s ease-in;
}
.fade-exit-done{
    opacity: 0;
}
